.submit {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    border: none;    
    width: 100%;
    padding: 10px 0px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.submit:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}
